<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Organization Information</title>
    <link href="main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="wrapper-center">
        <form action="." method="post">
            <h1>Enter Organization Information</h1>

            <label>Organization Name:</label>
            <br>
            <input type="text" class="form-input" name="organizationName" value="">
            <br><br>
            <label>Email Address:</label>
            <br>
            <input type="text" class="form-input" name="email" value="">
            <br><br>
            <label>Phone Number:</label>
            <br>
            <input type="text" class="form-input" name="phoneNumber" value="">
            <br><br>

            <label>Contact Person Name:</label>
            <br>
            <input type="text" class="form-input" name="contactPerson" value="">
            <br><br>

            <input type="submit" class="form-button" value="Submit">
        </form>
    </div>
</body>

</html>